<!-- <ion-header mode="md">
  <div id="caja">
    <ion-img src="../assets/img/ecce.png"></ion-img>
  </div>
</ion-header> -->


<ion-content  [fullscreen]="true" mode="md">
  <div id="container" mode="md">
    <div id="caja">
      <ion-img src="../assets/img/masco.jpg"></ion-img>
    </div>
    <div id="texto">
        <h4>​​Iniciar sesion</h4>
    </div>
        <form [formGroup]="formulogin">
          <ion-item id="input">
            <!-- <ion-label position="floating">Correo</ion-label> -->
            <!-- Input with placeholder -->
            <ion-input formControlName="username"  type="email" placeholder="Correo electronico" required></ion-input>
          </ion-item>
          <ion-item id="input">
            <!-- Label titulo -->
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <!-- Input with placeholder -->
            <ion-input formControlName="password"  type="password" placeholder="Contraeña" required></ion-input>
          </ion-item>
        </form>
          <br>
          <ion-button class="botton" type="button" (click)="loginon(formulogin.value)" color="warning" [disabled]="!formulogin.valid" >
            ¡Entrar!
          </ion-button>
          <br>
          <br>
          <!-- <p style="color: #636362;font-size: 16px;font-weight: bold;" [routerDirection]="'root'" [routerLink]="'/recuperar-contra'">¿Olvidaste tu Contraseña?</p> -->
    <br>
  </div>
</ion-content>


<!-- <footer>
  <ion-toolbar id="centrar">
  <div id="caja2">
    <ion-img src="../assets/img/goberna.png"></ion-img>
  </div>
</ion-toolbar>
</footer> -->
