<app-header titulo="eccce"></app-header>

<ion-content >
    <div id="container">
      <div id="texto">
        <h6 id="titulo">EXPERIENCIA DE CAFETERÍA CENTRADA EN EL ESTUDIANTE</h6>

        <h4>Bienvenido al sistema móvil de acompañamiento al Programa de Alimentación
          Escolar PAE de las entidades educativas.</h4>
      </div>
  </div>
</ion-content>

<!-- <footer>
  <ion-toolbar id="centrar">
  <div id="caja2">
    <ion-img src="../assets/img/logoempre.png"></ion-img>
  </div>
</ion-toolbar>
</footer> -->

<app-footer></app-footer>
  
